<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loadSpecifications</servlet-name>
        <servlet-class>com.vixcart.admin.controller.loadSpecifications</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeAffiliateUserStatus</servlet-name>
        <servlet-class>com.vixcart.admin.controller.changeAffiliateUserStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetAffiliateUser</servlet-name>
        <servlet-class>com.vixcart.admin.controller.resetAffiliateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterAffiliateUserActivities</servlet-name>
        <servlet-class>com.vixcart.admin.controller.filterAffiliateUserActivities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAffiliateRequests</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getAffiliateRequests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAffiliateRequest</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getAffiliateRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeAffiliateRequestStatus</servlet-name>
        <servlet-class>com.vixcart.admin.controller.changeAffiliateRequestStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addMember</servlet-name>
        <servlet-class>com.vixcart.admin.controller.addMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchMemberIDs</servlet-name>
        <servlet-class>com.vixcart.admin.controller.searchMemberIDs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMembers</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getMembers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeMemberStatus</servlet-name>
        <servlet-class>com.vixcart.admin.controller.changeMemberStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMember</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProductType</servlet-name>
        <servlet-class>com.vixcart.admin.controller.deleteProductType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getBrands</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getBrands</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTaCs</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getTaCs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteBPaC</servlet-name>
        <servlet-class>com.vixcart.admin.controller.deleteBPaC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateBPaC</servlet-name>
        <servlet-class>com.vixcart.admin.controller.updateBPaC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBPaC</servlet-name>
        <servlet-class>com.vixcart.admin.controller.addBPaC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loadSpecifications</servlet-name>
        <url-pattern>/loadSpecifications</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getSpecification</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getSpecification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getSpecification</servlet-name>
        <url-pattern>/getSpecification</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getBrand</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getBrand</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getBrand</servlet-name>
        <url-pattern>/getBrand</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getProductTypes</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getProductTypes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getProductTypes</servlet-name>
        <url-pattern>/getProductTypes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getProductType</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getProductType</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getProductType</servlet-name>
        <url-pattern>/getProductType</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getSuperCategory</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getSuperCategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getSuperCategory</servlet-name>
        <url-pattern>/getSuperCategory</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getTaC</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getTaC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getTaC</servlet-name>
        <url-pattern>/getTaC</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getAllBrands</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getAllBrands</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllBrands</servlet-name>
        <url-pattern>/getAllBrands</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getBPaCs</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getBPaCs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getBPaCs</servlet-name>
        <url-pattern>/getBPaCs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getSubCategory</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getSubCategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getSubCategory</servlet-name>
        <url-pattern>/getSubCategory</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getCategory</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getCategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getCategory</servlet-name>
        <url-pattern>/getCategory</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getBPaC</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getBPaC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getBPaC</servlet-name>
        <url-pattern>/getBPaC</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchBrand</servlet-name>
        <servlet-class>com.vixcart.admin.controller.searchBrand</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchBrand</servlet-name>
        <url-pattern>/searchBrand</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getCategories</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getCategories</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getCategories</servlet-name>
        <url-pattern>/getCategories</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getAllTaC</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getAllTaC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllTaC</servlet-name>
        <url-pattern>/getAllTaC</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getAllProductTypes</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getAllProductTypes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllProductTypes</servlet-name>
        <url-pattern>/getAllProductTypes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchProductType</servlet-name>
        <servlet-class>com.vixcart.admin.controller.searchProductType</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchProductType</servlet-name>
        <url-pattern>/searchProductType</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addBrand</servlet-name>
        <servlet-class>com.vixcart.admin.controller.addBrand</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addBrand</servlet-name>
        <url-pattern>/addBrand</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteBrand</servlet-name>
        <servlet-class>com.vixcart.admin.controller.deleteBrand</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteBrand</servlet-name>
        <url-pattern>/deleteBrand</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateBrand</servlet-name>
        <servlet-class>com.vixcart.admin.controller.updateBrand</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateBrand</servlet-name>
        <url-pattern>/updateBrand</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.vixcart.admin.controller.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employeeReports</servlet-name>
        <servlet-class>com.vixcart.admin.controller.employeeReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>users</servlet-name>
        <servlet-class>com.vixcart.admin.controller.users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userTypes</servlet-name>
        <servlet-class>com.vixcart.admin.controller.userTypes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>superUserTypes</servlet-name>
        <servlet-class>com.vixcart.admin.controller.superUserTypes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUserType</servlet-name>
        <servlet-class>com.vixcart.admin.controller.addUserType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkUserType</servlet-name>
        <servlet-class>com.vixcart.admin.controller.checkUserType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUserType</servlet-name>
        <servlet-class>com.vixcart.admin.controller.updateUserType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUserType</servlet-name>
        <servlet-class>com.vixcart.admin.controller.deleteUserType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTypes</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getUserTypes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPin</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getPin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUser</servlet-name>
        <servlet-class>com.vixcart.admin.controller.addUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUser</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkUserID</servlet-name>
        <servlet-class>com.vixcart.admin.controller.checkUserID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPassword</servlet-name>
        <servlet-class>com.vixcart.admin.controller.resetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newPassword</servlet-name>
        <servlet-class>com.vixcart.admin.controller.newPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editUser</servlet-name>
        <servlet-class>com.vixcart.admin.controller.editUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getNoOfWebsites</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getNoOfWebsites</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getNoOfMembers</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getNoOfMembers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllAffiliates</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getAllAffiliates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAffiliate</servlet-name>
        <servlet-class>com.vixcart.admin.controller.deleteAffiliate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUserIds</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getUserIds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.vixcart.admin.controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterAdminUserActivities</servlet-name>
        <servlet-class>com.vixcart.admin.controller.filterAdminUserActivities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAffiliate</servlet-name>
        <servlet-class>com.vixcart.admin.controller.addAffiliate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAffiliate</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getAffiliate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAffiliate</servlet-name>
        <servlet-class>com.vixcart.admin.controller.updateAffiliate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllPremiumPayments</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getAllPremiumPayments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getActivePremiumPayments</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getActivePremiumPayments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTotalPremiumPayments</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getTotalPremiumPayments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPremiumPayment</servlet-name>
        <servlet-class>com.vixcart.admin.controller.addPremiumPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchAffiliates</servlet-name>
        <servlet-class>com.vixcart.admin.controller.searchAffiliates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAffiliateUsers</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getAffiliateUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAffiliateUsers</servlet-name>
        <servlet-class>com.vixcart.admin.controller.deleteAffiliateUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAffiliates</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getAffiliates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAffiliateUser</servlet-name>
        <servlet-class>com.vixcart.admin.controller.addAffiliateUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newPassword</servlet-name>
        <url-pattern>/newPassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getAllSuperCategories</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getAllSuperCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSuperCategory</servlet-name>
        <servlet-class>com.vixcart.admin.controller.addSuperCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllCategories</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getAllCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllSubCategories</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getAllSubCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCategory</servlet-name>
        <servlet-class>com.vixcart.admin.controller.addCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSubCategory</servlet-name>
        <servlet-class>com.vixcart.admin.controller.addSubCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteSuperCategory</servlet-name>
        <servlet-class>com.vixcart.admin.controller.deleteSuperCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCategory</servlet-name>
        <servlet-class>com.vixcart.admin.controller.deleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteSubCategory</servlet-name>
        <servlet-class>com.vixcart.admin.controller.deleteSubCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSuperCategories</servlet-name>
        <servlet-class>com.vixcart.admin.controller.getSuperCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateSuperCategory</servlet-name>
        <servlet-class>com.vixcart.admin.controller.updateSuperCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateSubCategory</servlet-name>
        <servlet-class>com.vixcart.admin.controller.updateSubCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCategory</servlet-name>
        <servlet-class>com.vixcart.admin.controller.updateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateSpecification</servlet-name>
        <servlet-class>com.vixcart.admin.controller.updateSpecification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateSpecification</servlet-name>
        <url-pattern>/updateSpecification</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteSpecification</servlet-name>
        <servlet-class>com.vixcart.admin.controller.deleteSpecification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteSpecification</servlet-name>
        <url-pattern>/deleteSpecification</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addSpecification</servlet-name>
        <servlet-class>com.vixcart.admin.controller.addSpecification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addSpecification</servlet-name>
        <url-pattern>/addSpecification</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteTaC</servlet-name>
        <servlet-class>com.vixcart.admin.controller.deleteTaC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteTaC</servlet-name>
        <url-pattern>/deleteTaC</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addProductType</servlet-name>
        <servlet-class>com.vixcart.admin.controller.addProductType</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProductType</servlet-name>
        <url-pattern>/addProductType</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateProductType</servlet-name>
        <servlet-class>com.vixcart.admin.controller.updateProductType</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateProductType</servlet-name>
        <url-pattern>/updateProductType</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateTaC</servlet-name>
        <servlet-class>com.vixcart.admin.controller.updateTaC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateTaC</servlet-name>
        <url-pattern>/updateTaC</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addTaC</servlet-name>
        <servlet-class>com.vixcart.admin.controller.addTaC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addTaC</servlet-name>
        <url-pattern>/addTaC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employeeReports</servlet-name>
        <url-pattern>/employeeReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userTypes</servlet-name>
        <url-pattern>/userTypes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>superUserTypes</servlet-name>
        <url-pattern>/superUserTypes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUserType</servlet-name>
        <url-pattern>/addUserType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkUserType</servlet-name>
        <url-pattern>/checkUserType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUserType</servlet-name>
        <url-pattern>/updateUserType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUserType</servlet-name>
        <url-pattern>/deleteUserType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTypes</servlet-name>
        <url-pattern>/getTypes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPin</servlet-name>
        <url-pattern>/getPin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUser</servlet-name>
        <url-pattern>/getUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkUserID</servlet-name>
        <url-pattern>/checkUserID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPassword</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editUser</servlet-name>
        <url-pattern>/editUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getNoOfWebsites</servlet-name>
        <url-pattern>/getNoOfWebsites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getNoOfMembers</servlet-name>
        <url-pattern>/getNoOfMembers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllAffiliates</servlet-name>
        <url-pattern>/getAllAffiliates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAffiliate</servlet-name>
        <url-pattern>/deleteAffiliate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUserIds</servlet-name>
        <url-pattern>/getUserIds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterAdminUserActivities</servlet-name>
        <url-pattern>/filterAdminUserActivities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAffiliate</servlet-name>
        <url-pattern>/addAffiliate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAffiliate</servlet-name>
        <url-pattern>/getAffiliate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAffiliate</servlet-name>
        <url-pattern>/updateAffiliate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllPremiumPayments</servlet-name>
        <url-pattern>/getAllPremiumPayments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getActivePremiumPayments</servlet-name>
        <url-pattern>/getActivePremiumPayments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTotalPremiumPayments</servlet-name>
        <url-pattern>/getTotalPremiumPayments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPremiumPayment</servlet-name>
        <url-pattern>/addPremiumPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchAffiliates</servlet-name>
        <url-pattern>/searchAffiliates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAffiliateUsers</servlet-name>
        <url-pattern>/getAffiliateUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAffiliateUsers</servlet-name>
        <url-pattern>/deleteAffiliateUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAffiliates</servlet-name>
        <url-pattern>/getAffiliates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAffiliateUser</servlet-name>
        <url-pattern>/addAffiliateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllSuperCategories</servlet-name>
        <url-pattern>/getAllSuperCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSuperCategory</servlet-name>
        <url-pattern>/addSuperCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllCategories</servlet-name>
        <url-pattern>/getAllCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllSubCategories</servlet-name>
        <url-pattern>/getAllSubCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCategory</servlet-name>
        <url-pattern>/addCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSubCategory</servlet-name>
        <url-pattern>/addSubCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteSuperCategory</servlet-name>
        <url-pattern>/deleteSuperCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCategory</servlet-name>
        <url-pattern>/deleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteSubCategory</servlet-name>
        <url-pattern>/deleteSubCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSuperCategories</servlet-name>
        <url-pattern>/getSuperCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateSuperCategory</servlet-name>
        <url-pattern>/updateSuperCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateSubCategory</servlet-name>
        <url-pattern>/updateSubCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCategory</servlet-name>
        <url-pattern>/updateCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeAffiliateUserStatus</servlet-name>
        <url-pattern>/changeAffiliateUserStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetAffiliateUser</servlet-name>
        <url-pattern>/resetAffiliateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterAffiliateUserActivities</servlet-name>
        <url-pattern>/filterAffiliateUserActivities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAffiliateRequests</servlet-name>
        <url-pattern>/getAffiliateRequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAffiliateRequest</servlet-name>
        <url-pattern>/getAffiliateRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeAffiliateRequestStatus</servlet-name>
        <url-pattern>/changeAffiliateRequestStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addMember</servlet-name>
        <url-pattern>/addMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchMemberIDs</servlet-name>
        <url-pattern>/searchMemberIDs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMembers</servlet-name>
        <url-pattern>/getMembers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeMemberStatus</servlet-name>
        <url-pattern>/changeMemberStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMember</servlet-name>
        <url-pattern>/getMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProductType</servlet-name>
        <url-pattern>/deleteProductType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getBrands</servlet-name>
        <url-pattern>/getBrands</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTaCs</servlet-name>
        <url-pattern>/getTaCs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteBPaC</servlet-name>
        <url-pattern>/deleteBPaC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateBPaC</servlet-name>
        <url-pattern>/updateBPaC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBPaC</servlet-name>
        <url-pattern>/addBPaC</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
